<div class="container shadow p-3 mt-5">
    <div class="row">
        <div class="col-12">
            <a href="/patient/{{patient.userID}}"><i class="fa-solid fa-arrow-left fs-5 text-dark"></i></a>
            <h1 class="text-center my-3">Consult Observations</h1>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Name Patient</th>
                        <th class="text-center" scope="col">Address</th>
                        <th class="text-center" scope="col">Doctor</th>
                        <th class="text-center" scope="col">Sate</th>
                        <th class="text-center" scope="col">Description</th>
                        <th class="text-center" scope="col">Created</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each observations}}
                    <tr>
                        <td class="text-center">{{../patient.name}}</td>
                        <td class="text-center">{{../patient.address}}</td>
                        <td class="text-center">{{observationPatients.name}}</td>
                        <td class="text-center">{{state}}</td>
                        <td class="text-center">{{description}}</td>
                        <td class="text-center">{{dateFormat createdAt "DD/MM/Y"}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if observations}}
            <div class="col-12 d-flex justify-content-end mt-5">
                <button class="btn btn-primary" id="obs">Download</button>
            </div>
        {{/if}}
    </div>

</div>